:root {
  --background-color: #e1cef4;
  --light: #fff;
  --navlink-color: #b9c6ae;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 5px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--background-color);
}

.header {
  margin: 0px;
  display: flex;
}

.header nav {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
  align-items: center;
  justify-content: space-evenly;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a:visited {
	color: purple;
}

a:hover {
	color: dodgerblue;
}

a:active {
	color: red;
  cursor: grabbing;
}