:root {
  --background-color: #e1cef4;
  --light: #fff;
  --navlink-color: #b9c6ae;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 5px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--background-color);
}

header {
  margin: 0px;
  display: flex;
}

nav {
  width: 70%;
}

header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

.hero-banner {
  background-image: url(../images/me2.jpeg);
  height: 400px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
}

.hero-banner h2 {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0,0,0,0.7);
  padding: 20px;
  height: 25px;
  color: white;
  font-size: 20px;
  border-bottom: 15px solid rgba(0,0,0,0.7);
  font-display: center;
}

.leftHeading {
  margin: 0px 0px 0px 0px;
  border-right: purple solid 6px;
  padding: 40px;
  width: 150px;
}

p {
  /* margin: 0px 0px 0px 10px;
  border-left: purple solid 6px;
  padding: 5px; */
}

.page {
  display:flex;
}

.page-wrapper h2 {
  text-align: left;
}

.subHeading {
  border-bottom: 2px;
  display: flex;
}

.heading {
  background-color: rgba(0,0,0,0.7);
  padding: 20px;
  height: 25px;
  color: white;
  font-size: 20px;
  border-bottom: 15px solid rgba(0,0,0,0.7);
  font-display: center;
}

.page-section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

#work-grid {
    margin: 0px 0px 0px 20px;
    width: 75%;
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "laptop laptop laptop"
    "fibreoptic fibreoptic mri"
    "nodes map map"
    ;
}

#laptop {
  grid-area: laptop;
  background-image: url(../images/laptop.jpeg);
}

#fibreoptic {
  grid-area: fibreoptic;
  background-image: url(../images/fibreoptic.jpeg);
}

#mri {
  grid-area: mri;
  background-image: url(../images/mri.jpeg);
}

#nodes {
  grid-area: nodes;
  background-image: url(../images/nodes.jpeg);
}

#map {
  grid-area: map;
  background-image: url(../images/map.jpeg);
}

a:visited {
	color: purple;
}

a:hover {
	color: dodgerblue;
}

a:active {
	color: red;
  cursor: grabbing;
}

.page-section-contact {
  text-align: center;
}