:root {
  --background-color: #e1cef4;
  --light: #fff;
  --navlink-color: #b9c6ae;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 5px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--background-color);
}

header {
  margin: 0px;
  display: flex;
}

nav {
  width: 70%;
}

header nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
}

.hero-banner {
  background-image: url(../images/me.jpeg);
  height: 500px;
  width: 100%;
  margin-bottom: 25px;
  background-size: cover;
  background-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.subHeading {
  text-align: center;
  border-bottom: 2px solid black;
  width: 300px;
  margin: 50px auto;
}

.heading {
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  height: 25px;
  color: white;
  font-size: 18px;
  border-bottom: 5px solid --background-color;
}

#work-grid {
    margin: 0px 5%;
    display: grid;
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "laptop laptop laptop"
    "fibreoptic fibreoptic mri"
    "nodes map map"
    ;
}

#laptop {
  grid-area: laptop;
  background-image: url(../images/laptop.jpeg);
}

#fibreoptic {
  grid-area: fibreoptic;
  background-image: url(../images/fibreoptic.jpeg);
}

#mri {
  grid-area: mri;
  background-image: url(../images/mri.jpeg);
}

#nodes {
  grid-area: nodes;
  background-image: url(../images/nodes.jpeg);
}

#map {
  grid-area: map;
  background-image: url(../images/map.jpeg);
}

a:visited {
	color: purple;
}

a:hover {
	color: dodgerblue;
}

a:active {
	color: red;
  cursor: grabbing;
}